:root {
  --whte-color: white;
  ---black-color: #000000;
  --main-color: rgb(7, 126, 245);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --bg1: #030313;
  --bg2: #071129;
  --bac:#1a212bb6;
  --accent: linear-gradient(135deg, #1FD1FF 0%, #6B5BFF 100%);
  --icon-size: 60px;

}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;

}

.cn {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 760px) {
  .cn {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .cn {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .cn {
    width: 1170px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
nav .cn .box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  height: 55px;
  align-items: center;
  z-index: 50;
}

.logo {
  grid-column: 1;
}

.logo img{
  width: 110px;
  height: 55px;
  padding-top: 5px;
  object-fit: cover;

}

nav .cn .box ul {
  grid-column: 8/14;
  display: flex;
  justify-content: space-between;
}

nav .cn .box ul li a {
  color: var(--whte-color);
  font-size: 1rem;
  font-weight: 500;
  transition: 0.5s;
}

nav .cn .box ul:nth-child(2) li:hover a {
  color: black;
  font-weight: 700;
}

@media (min-width: 992px) {
  nav .cn .box .sd {
    display: none;
  }
}

@media (max-width: 992px) {
  nav .cn .box .sd {
    display: block;
    grid-column: 2;
    grid-row: 1;
    text-align: end;
    color: white;
    font-size: 2.3rem;
    font-weight: 900;
  }

  .menu-btn.active i::before {
    content: "\f62a";
    font-family: "bootstrap-icons";
  }

  nav .cn .box .logo {
    text-align: start;
    grid-column: 1;
    grid-row: 1;
  }

  nav .cn .box {
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0 0 10px 0px #39ff !important;
  }

  nav .cn .box ul {
    display: none;
  }
}

@media (max-width: 992px) {
  .box {
    padding-right: 10px;
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  .box {
    padding-right: 26px;
    padding-left: 26px;
  }
}

@media (min-width: 1200px) {
  .box {
    padding-right: 45px;
    padding-left: 45px;
  }
}

@media (min-width: 992px) {
  nav .cn .box ul:nth-child(4) {
    display: none;
  }
}

@media (max-width: 992px) {
  nav .cn .box ul:nth-child(4) {
    position: absolute;
    top: 52px;
    left: 0;
    background-color: #0b0d0fef;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px 1px var(--shadow-color);
    width: 40%;
    max-height: calc(700px - 50px);
    min-height: 100px;
    z-index: 11;
    gap: 5%;
  }

  nav .cn .box ul:nth-child(4) li {
    background: linear-gradient(to right,
        var(--main-color) 50%,
        var(--bac) 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    padding-left: 25px;
    padding-bottom: 2%;
    padding-top: 2%;
    transition: 0.5s;
    width: 100%;
  }

  nav .cn .box ul:nth-child(4) li:hover {
    background-position: left bottom;
  }

  nav .cn .box ul:nth-child(4) li a {
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    display: block;
    color: rgb(196, 199, 201);
  }

  nav .cn .box ul:nth-child(4) li a i {
    font-size: 1.7rem;
    color: var(--main-color);
    padding-right: 20px;
    transition: 0.5s;
  }

  nav .cn .box ul:nth-child(4) li:hover a i {
    color: white;
  }
}

@media (max-width: 767px) {
  nav .cn .box ul:nth-child(4) {
    width: 300px;
    top: 51px;
    left: 0;
  }

  nav .cn .box ul:nth-child(4) li a {
    width: 100%;
  }
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
  overflow: hidden;
  color: var(--whte-color);
}

header .box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: 50px;
  padding-left: 40px;
  min-height: 650px;
  max-height: fit-content;
}

header .box1 figure {
  display: none;
}



header .text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

header .text h2 {
  font-weight: 900;
  font-size: 3rem;
}

header .text h1 span {
  color: var(--main-color);
}

header .text h3 {
  font-size: 3rem;
  font-weight: 900;
}

header .text h3 span {
  color: var(--main-color);
}

header .text p {
  font-weight: 100;
  line-height: 1.5;
  font-size: 1.1rem;
  height: fit-content;
}

header .cta {
  padding-top: 50px;
  padding-bottom: 70px;
  width: fit-content;
  height: fit-content;
}

header .cta a {
  padding: 15px 40px;
  border-radius: 6px;
  background: linear-gradient(to left,
      transparent 50%,
      rgba(3, 84, 165, 0.829) 50%);
  background-position: left, bottom;
  background-size: 200% 100%;
  transition: 0.5s;
  color: #ffffff;
  font-weight: 500;
  height: 100%;
}

header .cta:hover a {
  background-position: right, bottom;
  color: var(--main-color);
  font-weight: 700;
  box-shadow: 0 0 10px 0px #39ff;
}

.cv {
  position: relative;
}

header .box2 {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 600px;
}

.ov {
  width: 600px;
  height: 600px;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
}

header .box2 .mill {
  position: absolute;
  top: 0px;
  right: -150px;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  animation: spin 20s steps(7) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  12% {
    transform: rotate(0deg);
  }

  14.285% {
    transform: rotate(-51.43deg);
  }

  26.285% {
    transform: rotate(-51.43deg);
  }

  28.57% {
    transform: rotate(-102.86deg);
  }

  40.57% {
    transform: rotate(-102.86deg);
  }

  42.85% {
    transform: rotate(-154.29deg);
  }

  54.85% {
    transform: rotate(-154.29deg);
  }

  57.14% {
    transform: rotate(-205.72deg);
  }

  69.14% {
    transform: rotate(-205.72deg);
  }

  71.42% {
    transform: rotate(-257.15deg);
  }

  83.42% {
    transform: rotate(-257.15deg);
  }

  85.71% {
    transform: rotate(-308.58deg);
  }

  97.71% {
    transform: rotate(-308.58deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

header .box2 .mill .skills {
  position: absolute;
  left: 0;
  transform: rotate(calc(360deg / 7 * var(--i)));
  transform-origin: 350px;
  z-index: 3;
}

.tek {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 15px;
  color: var(--whte-color);
  background-color: var(---black-color);
  box-shadow: inset 0 0 30px 0px rgba(156, 196, 233, 0.719),
    0 0 10px 0px rgb(148, 190, 233);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

header .box2 .mill .skills i {
  font-size: 2.5rem;
}

header .box2 .mill::after {
  content: "";
  width: 600px;
  position: absolute;
  border-radius: 50%;
  height: 600px;
  border: 3px solid;
  z-index: 1;
}

header .box2::after {
  content: "";
  position: absolute;
  border-top: 340px solid var(--main-color);
  border-left: 340px solid transparent;
  border-right: 340px solid var(--main-color);
  border-bottom: 300px solid var(--main-color);
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 2;
  filter: drop-shadow(0 0 10px #39ff);
  animation: bom 2.5s ease-in-out;
}

@keyframes bom {
  0% {
    border-right: 2340px solid var(--main-color);
  }

  100% {
    border-right: 340px solid var(--main-color);

  }
}

header .box2 figure {
  z-index: 6;
  position: absolute;
  bottom: -132px;
  right: -67px;
  width: 80%;
  animation: fig 2.5s ease-in-out;
}

@keyframes fig {
  0% {
    transform: translatex(200%);
  }

  100% {
    transform: translateX(0%);
  }
}

header .box2 figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nt {
  margin: auto;
  width: fit-content;
  text-align: center;
  position: relative;
  z-index: 4;
  padding: 0;
  color: black;
  font-weight: bold;
  font-size: 4rem;
}

@media (max-width: 992px) {
  header {
    grid-template-columns: 1fr;
    height: fit-content;
    overflow: hidden;
    width: 100%;
  }

  header .box1 {
    grid-column: 1;
    grid-row: 1;
    top: 65px;
    padding: 0;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  header .box1 figure {
    display: block;
    flex-shrink: 0;
    background-color: var(--main-color);
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 190px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 0 10px 0px #39ff;
  }

  header .box1 figure img {
    width: 200px;
    height: 250px;
    object-fit: contain;
  }

  header .text {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  header .box1 h1 {
    font-size: 1.7rem;
    display: inline;
  }

  header .box1 h2 {
    display: inline;
    font-size: 1.7rem;
  }

  header .box1 h3 {
    font-size: 1.7rem;
  }

  header .box1 p {
    font-weight: 100;
  }

  header .cta {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .box2 {
    grid-column: 1;
    grid-row: 2;
    height: 100vh;
    width: 100%;
  }

  header .box2 figure {
    display: none;
  }

  header .box2::after {
    z-index: 3;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 250px solid transparent;
    border-left: 550px solid var(--main-color);
    border-right: 550px solid var(--main-color);
    border-bottom: 400px solid var(--main-color);
    top: 50%;
    animation: bom 0s ease;
  }

  .ov {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .med {
    position: relative;
    width: 765px;
    height: 270px;

    overflow: hidden;
    top: 85px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-22deg);
  }

  header .box2 .mill {
    width: 1600px;
    height: 1600px;
    top: 0;
  }

  header .box2 .mill .skills {
    transform-origin: 800px;
  }

  header .box2 .mill::after {
    width: 1500px;
    height: 1500px;
  }

  .tek {
    transform: rotate(279deg) translateX(124px) translateY(-10px);
  }

  .html,
  .css,
  .js,
  .react,
  .boot,
  .git,
  .gith {
    margin: 0;
  }
}

@media (max-width: 767px) {
  header .text{
    width: 100%;
  }
  .med {
    width: 320px;
    height: 170px;
    top: 135px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-17.5deg);
  }

  header .box2 .mill {
    top: 0;
    width: 800px;
    height: 800px;
  }

  header .box2 .mill .skills {
    transform-origin: 400px;
  }

  header .box2 .mill::after {
    width: 700px;
    height: 700px;
  }

  .tek {
    transform: rotate(275deg) translateX(27px);
  }
}

.section1 .cn {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section1 figure {
  overflow: hidden;
  border-radius: 5px;
  max-width: 450px;
  max-height: 500px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background-color: var(--main-color);
  text-align: center;
}

.box-sh {
  filter: drop-shadow(0 0px 12px #39ff);
}

.section1 figure img {
  object-fit: contain;
  width: 90%;
}

.section1 .cn .text {
  color: var(--whte-color);
  padding-top: 50px;
}

.section1 .cn .text h2 {
  padding-top: 20px;
  font-size: 3rem;
}

.section1 .cn .text h2 span {
  color: var(--main-color);
}

.section1 .cn .text p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 500;
}

.section1 .cn .text p {
  line-height: 1.8;
  font-weight: 100;
}

@media (max-width: 992px) {
  .section1 .cn {
    grid-template-columns: 1fr;
  }

  .section1 figure {
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .section1 .cn .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
}


.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
}

.services {
  padding-top: 100px;
  color: #fff;
  text-align: center;
  min-height: 100vh;
  max-height: fit-content;
}

.services h1 span {
  color: var(--main-color);
}

.section-title {
  font-size: 3rem;
  padding-bottom: 100px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.services .cn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 50px;
}

.service-card {
  background: var(--bac);
  padding: 30px 20px;
  height: 240px;
  border-radius: 15px;
  transition: 0.3s ease;
  border: 1px solid transparent;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.service-card h3 {
  font-size: 1.6rem;
}

.service-card p {
  padding-top: 10px;
  font-weight: 100;
  line-height: 1.4;
}

.service-card:hover {
  transform: translateY(-10px) scale(1.02);
  border: 1px solid #2563eb;
  box-shadow: 0 0 25px rgba(37, 99, 235, 0.7);
}

.service-icon {
  font-size: 65px;
  color: #2563eb;
  margin-bottom: 20px;
}

.section3 {
  max-height: fit-content;
  min-height: 100dvh;
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
}

.section3 .cn {
  text-align: center;
  font-family: Inter, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #fff;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  gap: 50px;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  border-radius: 20px;
}

@media(max-width:550px) {
  .section3 .cn {
    grid-template-columns: 1fr;
  }
}

#scene::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image:
    radial-gradient(white 0.8px, transparent 0.8px),
    radial-gradient(white 0.8px, transparent 0.8px);
  background-size: 120px 120px, 200px 200px;
  background-position: 10% 20%, 70% 80%;
  opacity: 0.06;
  pointer-events: none;
  filter: blur(0.6px);
}

.section3 h1 {
  width: fit-content;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 50px;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@media (max-width:992px) {
  .section3 h1 {
    padding-bottom: 50px;
  }
}


#planet {
  width: 600px;
  height: 520px;
  transform-style: preserve-3d;
  perspective: 1200px;
  position: relative;
  padding: 0;
  touch-action: none;
  top: 0;
  background-color: transparent;
  margin: auto;
}


.node {
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: var(--icon-size);
  height: var(--icon-size);
  /* margin:-30px ; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 6px 18px rgba(112, 186, 235, 0.37), inset 0 1px 0 rgba(146, 32, 32, 0.02);
  backdrop-filter: blur(2px);
  transition: box-shadow .22s, transform .12s;
  will-change: transform, opacity;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.node .iconify {
  width: 60%;
  height: 60%;
  display: block;
  transform-origin: center;
}

.node[data-depth="near"] {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.55);
}

.node[data-depth="near"] .iconify {
  filter: drop-shadow(0 6px 10px rgba(100, 140, 255, 0.12));
  transform: scale(1.05);
}

@media (max-width:900px) {
  #planet {
    width: 520px;
    height: 520px;
  }

  :root {
    --icon-size: 36px
  }
}

@media (max-width:520px) {
  #planet {
    width: 300px;
    height: 300px;
  }

  :root {
    --icon-size: 20px
  }
}

.cnp {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  background: var(--bac);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 12px rgba(255, 255, 255, 0.06);
}

@media (max-width:520px) {
  .cnp {
    height: 60dvh;
  }
}

.skills-counters {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  text-align: center;
  background: var(--bac);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 12px rgba(255, 255, 255, 0.06);
}

.skills-counters .section-title {
  padding-bottom: 50px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.skill .ring {
  --p: 0;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: relative;
  background:
    conic-gradient(var(--main-color) calc(var(--p) * 1%), var(--bac) 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), inset 0 0 12px rgba(255, 255, 255, 0.06);
  display: grid;
  place-items: center;
  transition: background1 .3s linear;
}

.skill .ring::before {
  content: "";
  position: absolute;
  inset: 12px;
  border-radius: 50%;
  background: #0b0d0fef;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.35);
}

.skill .value {
  position: relative;
  font-weight: 800;
  font-size: 1.3rem;
  letter-spacing: .5px;
}

.skill .label {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: .95;
}

.skill .label iconify-icon {
  font-size: 28px;
}

.skill b {
  font-size: 1.05rem;
}

.skill:hover .ring {
  box-shadow: 0 0 25px rgba(37, 99, 235, 0.7), inset 0 0 12px rgba(255, 255, 255, 0.08);
}

@media (max-width: 520px) {
  .skill .ring {
    width: 120px;
    height: 120px;
  }

  .skill .ring::before {
    inset: 10px;
  }
}

.section4 {
  max-height: fit-content;
  min-height: 100dvh;
  width: 100%;
  margin: auto;
  padding-top: 100px;
  margin-bottom: 50px;
}

.section4 h1 {
  width: fit-content;
  margin: auto;
  padding-bottom: 50px;
  color: white;
  font-size: 3rem;
  font-weight: 700;

}

.section4 h1 span {
  color: var(--main-color);
}

.section4 .cn {
  display: grid;
  gap: 10px;
  padding-bottom: 150px;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.card {
  min-width: 270px;
  height: 370px;
  perspective: 1000px;
  margin: auto;
}


.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 9px;
  
}

.card-front {
  background: var(--bac);
  color: #fff;
}

.card-front figure {
  width: 100%;
  height: 80%;
}
.section4 .cn .card:first-child .card-front{
  color: #0fc150;
} 
.section4 .cn .card:nth-child(2) .card-front{
  color: #8f12d7;
}
.section4 .cn .card:nth-child(3) .card-front{
  color: orange;
}
.section4 .cn .card:nth-child(4) .card-front{
  color: slategrey;
}
.card-front figure img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  background: #1c1c2f9d;
  color: white;
  transform: rotateY(180deg);
}

.section4 .cn .card .card-back h3{
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
}
.section4 .cn .card .card-back p{
  font-weight: 100;
  line-height: 1.5;
  font-size: 1rem;
}

.card-back a {
  margin-bottom: 15px;
  padding: 10px 20px;
  background: #2563eb;
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
.card-back{
  text-align: center;
    box-shadow: 0 0 25px rgba(37, 99, 235, 0.7);
}
.card-back a:hover {
  background: #1d4ed8;
}

.contact {
  padding-top: 50px;
  text-align: center;
  color: #fff;
  background: var(--bac);
}

.contact .section-title span {
  color: var(--main-color);
}

.contact .cn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

@media(max-width:767px) {
  .contact .cn {
    grid-template-columns: 1fr;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  background: var(--bac);
  color: #fff;
}
.contact-form textarea{
  resize: vertical;
}



.contact-form button {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #1d4ed8;
}

.contact-info {
  text-align: left;
  height: fit-content;
}

.contact-info p:nth-child(2) {
  text-transform: lowercase;
  font-weight: 100;
}

.contact-info h3 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.contact-info p {
  margin: 10px 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 10px;
}
.contact-info p:nth-child(4){
  padding-bottom: 30px;
}
.contact-info .socials a {
  margin-right: 15px;
  padding-top: 60px;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  transition: 0.3s;
}
.contact-info .socials a i{
  transition: .5s;
  border-radius: 50%;
  background-color: white;
  height: 100%;
  padding: 3px 7px;
  
}
.contact-info .socials a:first-child{
  color: black;
}
.contact-info .socials a:nth-child(2){
  color: rgb(0, 64, 255);
  
}
.contact-info .socials a:nth-child(3){
  color: rgb(0, 128, 255);

}
.contact-info .socials a:nth-child(4){
  color:rgb(0, 236, 0);
}
.contact-info .socials a:hover i{
  background-color: var(--main-color);
  color: white;
}
.contact-info .socials a:hover {
  color: var(--main-color);
}



.send-btn {
  position: relative;
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  background: var(--main-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.send-btn .btn-loader {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  animation: spin2 1s linear infinite;
  opacity: 0;
  transition: 0.3s;
}

.send-btn.loading .btn-text {
  opacity: 0;
}

.send-btn.loading .btn-loader {
  opacity: 1;
}

@keyframes spin2 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form-status {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s;
  text-align: center;
  width: 100%;
}



@media(max-width:600px) {
  .socials{
    text-align: center;
  }
}

@media(max-width:500px) {
  .contact-container {
    text-align: center;
    justify-items: center;
  }

  .contact-form {
    width: 100%;
    text-align: center;
  }

  .contact .cn {
    justify-content: center;
  }
}

footer {

  text-align: center;
  background: var(--bac);
  color: #aaa;
  font-size: 0.9rem;
  width: 100%;

}

footer .cn {
  padding-top: 20px;
  border-top: 1px solid white;

}

footer .cn p {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

@media(max-width:499px) {
  footer {
    font-size: .5rem;
    padding: 0;
    text-align: center;

  }
}

.sidebar {
  position: fixed;
  right: -1550px;
  transition: right 0.5s ease;
  top: 0;
  width: 30%;
  max-height: fit-content;
  min-height: 100dvh;
  z-index: 999;
  border-radius: 10px;
  background-color: #0303139d;
  padding-top: 10dvh;
}

#sidebar.active {
  right: 0;
}

#sidebar ul {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 75dvh;
  text-align: end;
}

#sidebar ul li {
  width: 100%;
  border-bottom: 1px solid var(--main-color);
}

#sidebar ul li {
  background: linear-gradient(to left, var(--main-color) 50%, transparent 50%);
  background-position: left bottom;
  background-size: 200% 100%;
  transition: all .5s;

}

#sidebar ul li:hover {
  background-position: right bottom;
}

#sidebar ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--whte-color);

}


@media (max-width:992px) {
  .sidebar {
    width: 70%;
    height: 93vh;
  }

  .sidebar {
    border-radius: 0;
  }
}